{% if mailresult %}
<div class="message {{ mailresult }}">
	{{ t( 'contacts_mailresult_' ~ mailresult, { 'email': config.mail.destination } ) }}
</div>
{% else %}

<div class="social-icons">
	<a class="fab fa-facebook-f" target="_blank" href="{{ config.site.social.facebook }}"></a>
	<a class="fab fa-vk" target="_blank" href="{{ config.site.social.vkontakte }}"></a>
	<a class="fa fa-envelope" target="_blank" href="mailto:{{ config.site.social.email }}"></a>
</div>

<form autocomplete="off" action="/contact" method="POST">
	<input type="hidden" name="lang" value="{{ language }}"/>
	<input class="input" type="text" name="name" placeholder="{{ t( 'contacts_name' ) }}" required/>
	<input class="input" type="text" name="phone" placeholder="{{ t( 'contacts_phone' ) }}" required/>
	<input class="input" type="email" name="email" placeholder="{{ t( 'contacts_email' ) }}" required/>
	<span class="product">
		<label>
			<input type="radio" name="product" value="landing" required/>
			{{ t( 'contacts_landing' ) }}
		</label>
		<label>
			<input type="radio" name="product" value="corporate" required/>
			{{ t( 'contacts_corporate' ) }}
		</label>
		<label>
			<input type="radio" name="product" value="ecommerce" required/>
			{{ t( 'contacts_ecommerce' ) }}
		</label>
	</span>
	<textarea class="input" name="comments" id="comments" placeholder="{{ t( 'contacts_comments' ) }}" required></textarea><br/>
	<input class="sendBtn" type="submit" value="{{ t( 'contacts_send' ) }}"/>

</form>

{% endif %}
