<div>
	<div class="fab fa-vk icon"></div>
	<h2>{{ t( 'services_1_title' ) }}</h2>
	<ul>
		{{ t( 'services_1_text' ) }}
	</ul>
	<a class="btn" href="#contacts">Order Now</a>
</div>
<div>
	<div class="fab fa-vk icon"></div>
	<h2>{{ t( 'services_2_title' ) }}</h2>
	<ul>
		{{ t( 'services_2_text' ) }}
	</ul>
	<a class="btn" href="#contacts">Order Now</a>
</div>
<div>
	<div class="fab fa-vk icon"></div>
	<h2>{{ t( 'services_3_title' ) }}</h2>
	<ul>
		{{ t( 'services_3_text' ) }}
	</ul>
	<a class="btn" href="#contacts">{{ t( 'services_order_now' ) }}</a>
</div>
