<div>
	<div class="fas fa-address-card icon"></div>
	<h2>{{ t( 'services_1_title' ) }}</h2>
	<p class="text">
		{{ t( 'services_1_text' ) }}
	</p>
	<p class="time">{{ t( 'services_from' ) }} 1 {{ t( 'services_day' ) }}</p>
	<p class="price">{{ t( 'services_from' ) }} 240 EUR</p>
	<a class="btn" href="#contacts">{{ t( 'services_order_now' ) }}</a>
</div>
<div>
	<div class="fas fa-briefcase icon"></div>
	<h2>{{ t( 'services_2_title' ) }}</h2>
	<p class="text">
		{{ t( 'services_2_text' ) }}
	</p>
	<p class="time">{{ t( 'services_from' ) }} 1 {{ t( 'services_week' ) }}</p>
	<p class="price">{{ t( 'services_from' ) }} 420 EUR</p>
	<a class="btn" href="#contacts">{{ t( 'services_order_now' ) }}</a>
</div>
<div>
	<div class="fas fa-shopping-cart icon"></div>
	<h2>{{ t( 'services_3_title' ) }}</h2>
	<p class="text">
		{{ t( 'services_3_text' ) }}
	</p>
	<p class="time">{{ t( 'services_from' ) }} 2 {{ t( 'services_weeks' ) }}</p>
	<p class="price">{{ t( 'services_from' ) }} 840 EUR</p>
	<a class="btn" href="#contacts">{{ t( 'services_order_now' ) }}</a>
</div>
