{% extends 'layouts/main.html.twig' %}

{% block content %}

<header>
	<div class="first">
    	<a href="tel:89898738399" class="phone">89898738399</a>
    	<span class="languages"><a href="/en" class="active">En</a> | <a href="/ru">Ru</a></span>
	</div>
	<div class="second switcher">
    	<a href="#home"><img src="img/logo.png" alt="Aliselab"> </a>
    	<a href="#navLinks" class="mobile">☰</a>
    
    	<nav>
    		{% for section, label in sections %}
        		<a href="#{{ section }}">{{ label }}</a>
        	{% endfor %}
    	</nav>
    </div>
</header>

<section class="home" id="home">
	{% include 'sections/home.html.twig' %}
</section>

{% for section, label in sections %}
	<section class="{{ section }}">
		<span class="anchor" id="{{ section }}"></span>
		<h1>{{ label }}</h1>
		<article>
			{% include 'sections/' ~ section ~ '.html.twig' %}
		</article>
	</section>
{% endfor %}


<footer>
    All rights reserved 2018
</footer>

{% endblock %}
