{% extends 'layouts/main.html.twig' %}

{% block content %}

<header>
	<div class="first">
    	<a href="tel:{{ config.site.phone }}" class="phone">{{ config.site.phone }}</a>
    	<span class="languages">
    		{% for lang, label in languages %}
    			<a href="/{{ lang }}" {% if lang == language %} class="active" {% endif %}>{{ label }}</a>
    		{% endfor %}
    	</span>
	</div>
	<div class="second switcher">
    	<a href="#home"><img class="logo" src="img/logo_text.png" alt="{{ config.site_title }}"> </a>
    	<div class="mobile-menu fa fa-bars"></div>
    	<nav>
    		{% for section in config.sections %}
        		<a href="#{{ section }}">{{ t( 'section_' ~ section ) }}</a>
        	{% endfor %}
    	</nav>
    	<div class="clear"></div>
    </div>
</header>

<section class="home" id="home">
	{% include 'sections/home.html.twig' %}
</section>

{% for section in config.sections %}
	{% set label = 'section_' ~ section %}
	{% if section == 'forwhom' %}
		{% set label = label ~ '_title' %}
	{% endif %}
	<section class="{{ section }}">
		<span class="anchor" id="{{ section }}"></span>
		<h1>{{ t( label ) }}</h1>
		<article>
			{% include 'sections/' ~ section ~ '.html.twig' %}
		</article>
	</section>
{% endfor %}


<footer>
    {{ t( 'all_rights_reserved' ) }}
</footer>

{% endblock %}
